<%= form_for(@user= current_user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <%= f.label :characterfirstname,"First Name" %>
  <div class="fontcolor-black">
  <%= f.select :characterfirstname, ['Able',
  'Acre',
  'Albert',
  'Alice',
  'America',
  'Appletini',
  'Artemis',
  'Balance',
  'Banal',
  'Bang',
  'Barnaby',
  'Baron',
  'Basket',
  'Bauble',
  'Beaucoup',
  'Bernard',
  'Blush',
  'Boon',
  'Bunny',
  'Butter',
  'Cabot',
  'Candice',
  'Cannon',
  'Cardinal',
  'Cassandra',
  'Cherry',
  'Christ',
  'Chuck',
  'Cleft',
  'Clyde',
  'Colorectal',
  'Conan',
  'Constance',
  'Cooper',
  'Cougar',
  'Crash',
  'Crisis',
  'Critique',
  'Crush',
  'Cull',
  'Dane',
  'Dash',
  'Ditch',
  'Doberman',
  'Donald',
  'Downtime',
  'Dracula',
  'Draft',
  'Dude',
  'Even',
  'Falcon',
  'Fang',
  'Fez',
  'Flack',
  'Flame',
  'Franklin',
  'Fraught',
  'Freight',
  'Fury',
  'Gabriel',
  'Gabrielle',
  'Golem',
  'Grievance',
  'Guppy',
  'Heir',
  'Honey',
  'Horace',
  'Jackson',
  'Janice',
  'Jet',
  'Joan',
  'Johnny',
  'Juniper',
  'Kentucky',
  'Kiln',
  'Kite',
  'Lake',
  'Ledge',
  'Leopold',
  'Licorice',
  'Lily',
  'Lookout',
  'Lucifer',
  'Marble',
  'Martyr',
  'Mary',
  'Merle',
  'Monty',
  'Moon',
  'Muck',
  'Muse',
  'Nihilism',
  'Noble',
  'Noon',
  'Notch',
  'Nugget',
  'Obsession',
  'Odd',
  'Pabst',
  'Parisien',
  'Peasant',
  'Penelope',
  'Pepper',
  'Polly',
  'Pope',
  'Porcelain',
  'Pound',
  'Proverb',
  'Pus',
  'Rabbinical',
  'Raptor',
  'Regal',
  'Rex',
  'Ribbon',
  'Rind',
  'River',
  'Rooster',
  'Rubble',
  'Saint',
  'Saison',
  'Samson',
  'Sandy',
  'Sanguine',
  'Scythe',
  'Seed',
  'Serenity',
  'Sergei',
  'Shaker',
  'Silk',
  'Sizeable',
  'Slamdance',
  'Splendid',
  'Steamboat',
  'Stefan',
  'Struggle',
  'Stump',
  'Summer',
  'Talbot',
  'Tannhauser',
  'Tense',
  'Terror',
  'Tiger',
  'Tiptoe',
  'Tome',
  'Tony',
  'Topaz',
  'Traitor',
  'Tug',
  'Uncle',
  'Waffle',
  'Wallop',
  'Weasel',
  'Whelp',
  'Whiskers',
  'Wolf',
  'Woody',
  'Zeus' ]%>
</div>
  <%= f.label :characterlastname, "Last Name"%>
  <div class="fontcolor-black">
  <%= f.select :characterlastname, ['Antigua',
  'Bandwidth',
  'Bellum',
  'Blackheart',
  'Blaspheme',
  'Bloom',
  'Boathouse',
  'Bojangles',
  'Bonafide',
  'Bone',
  'Boneshatter',
  'Boobjob',
  'Boudoir',
  'Broadjump',
  'Burnbottom',
  'Bygone',
  'Cablecar',
  'Cadillac',
  'Cannonfodder',
  'Caravan',
  'Cheeseball',
  'Chowder',
  'Coldwater',
  'Colloquial',
  'Curtaincall',
  'Deliverer',
  'Dingleberry',
  'Doghouse',
  'Doldrum',
  'Dopesick',
  'Doppleganger',
  'Fangfire III',
  'Feedback',
  'Fong',
  'Fright',
  'Fuckboi',
  'Furor',
  'Glowworm',
  'Goliath',
  'Golighty',
  'Gonuts',
  'Grateful',
  'Gunshy',
  'Ha’penny',
  'Hardcopy',
  'Hobblebottom',
  'Highbrow',
  'Hightower',
  'Hurricane',
  'Innocentz',
  'Jawbone',
  'Jones',
  'Justice',
  'Lioness',
  'Loon',
  'Lowbrow',
  'Lungfish',
  'Macaroon',
  'Macguffin',
  'Maniac',
  'Marrakech',
  'Mundane',
  'Murderess',
  'Nightshade',
  'Nitpicker',
  'Oaken',
  'Paddywagon',
  'Palatecleanser',
  'Partypooper',
  'Pleasance',
  'Pollywog',
  'Powergrab',
  'Precocious',
  'Saddlepuss',
  'Scafflebaum',
  'Schittschtein',
  'Shepherd',
  'Silkworm',
  'Silver',
  'Smokehouse',
  'Smooth',
  'Snow',
  'St. James',
  'Sterling',
  'Sycamore',
  'Tallow',
  'Tannenbaum',
  'Thickthighs',
  'Tiger',
  'Toblerone',
  'Trebuchet',
  'Triplesec',
  'Vegas',
  'Warlock',
  'White',
  'Wizardsleeve',
  'Wonder',
  'Woodwork' ]%>
</div>

  <%= f.submit yield(:button_text), class: "btn-lg gold3 white3" %>
<% end %>
